
body { background-color: #c9c9c9; color: black; }
body { font: medium "Bitstream Vera Sans", sans-serif; }

article { display: block; }
article.post { border-left: solid .4em #494949; }
article.post { margin-bottom: 2em; padding-left: .4em; }
article.post:focus { background-color: #d9d9d9; }
article.post > div.header, article > div.footer { font-size: smaller; }
article.post > div.header { background-color: #494949; color: white; }
article.post > div.header { padding: .1em; }
article.post > div.body { margin: .5em 2em;}

ol.thread, ol.thread li { list-style: none; margin: 0; padding: 0; }
ol.thread ol.thread li { margin-left: 2em; }

div.error { color: red; }

textarea { width: 40em; max-width: 100%; height: 10em; }

:link:not(:hover), :visited:not(:hover) { color: inherit; }
.footer { color: #494949; }
