<!DOCTYPE html>
<html>

<title>Nested-set test</title>
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">

<h1>Nested-set test</h1>

<p>
<a href="/recent">[Recent posts]</a>
</p>

{%- macro display_post_tree(posts) -%}
{% for post, children in posts %}
<li>
{{ display_post(post) }}
{%- if children %}

<ol class=thread>
{{ display_post_tree(children) }}
</ol>
{%- endif %}
</li>
{% endfor %}
{%- endmacro -%}

{%- macro display_post(post, footer=True) -%}
<article class=post id="p{{post.id}}">
<!-- left: {{ post.left }}, right: {{ post.right }} -->
<div class=header>
Posted 
{% if post.author %}by <span class=author>{{post.author|e}}</span>{% endif %}
on <time datetime="{{post.post_time}}">{{post.post_time.strftime("%Y-%m-%d at %H:%M:%S")}}</time>.
</div>

<div class=body>
{{post.body|e}}
</div>
{% if footer %}

<div class="footer">
<a href="reply/{{post.id}}#post">reply</a> | <a href="/#p{{post.id}}">permalink</a>
{% if post.parent_post_id is not none %}| <a href="/#p{{post.parent_post_id}}">parent</a>{% endif %}
</div>
{% endif %}
</article>
{%- endmacro -%}

<ol class=thread>
{{ display_post_tree(posts) }}
</ol>

<hr>

{% include "form.html" %}

</html>
