<!DOCTYPE html>
<html>

<title>Nested-set test</title>
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">

<h1>Nested-set test</h1>

{% macro display_posts(posts) -%}
{% for post, children in posts %}
<li>
<article class=post id="p{{post.id}}">
<!-- left: {{ post.left }}, right: {{ post.right }} -->
<div class=author>
Posted by <span class=author>{{post.author|e}}</span> on
<time datetime="{{post.post_time}}">{{post.post_time.strftime("%Y-%m-%d at %H:%M:%S")}}</time>.
</div>

<div class=body>
{{post.body|e}}
</div>

<div class="footer">
<a href="reply/{{post.id}}">reply</a> | <a href="#p{{post.id}}">permalink</a>
{% if post.parent_post_id is not none %}| <a href="#p{{post.parent_post_id}}">parent</a>{% endif %}
</div>
</article>
{%- if children %}

<ol class=thread>
{{ display_posts(children) }}
</ol>
{%- endif %}
</li>
{% endfor %}
{%- endmacro %}

<ol class=thread>
{{ display_posts(posts) }}
</ol>

<hr>

{% include "form.html" %}

</html>
